# Create individual user matrices (csv files)
Skip these cells

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('dataset_mood_smartphone.csv')

In [2]:
# all users
users = list(df.id.unique())
days_dict = {}
avg_moods_dict = {}

# lack of inspiration...
arousal_dict, valence_dict, activity_dict, screen_dict, call_dict, sms_dict, builtin_dict, \
communication_dict, entertainment_dict, finance_dict, game_dict, office_dict, other_dict, social_dict, \
travel_dict, unknown_dict, utilities_dict, weather_dict = {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, \
                                                            {}, {}, {}, {}, {}, {}

for i in range(len(users)):
    # specify user
    user = df[df.id == users[i]]

    # all days with data for the user
    #days = sorted(set([x.split()[0] for x in list(user['time'])]))

    pd.set_option('display.max_columns', 50)

    # get all days on which the user's mood is known (mood_days)
    mood_days = sorted(set([x.split()[0] for x in list(user[user.variable=="mood"]['time'])]))

    average_moods, average_arousal, average_valence, average_activity, screen_sum, call_sum, sms_sum, \
    builtin_sum, comm_sum, ent_sum, fin_sum, game_sum, off_sum, oth_sum, soc_sum, tra_sum, unk_sum, uti_sum, \
    wea_sum = [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [] 
 
    for day in mood_days:
        day_df = user[user['time'].str.contains(day)]
        avg_mood = day_df[day_df.variable=="mood"].value.mean()
        average_moods.append(avg_mood)
        average_arousal.append(day_df[day_df.variable=='circumplex.arousal'].value.mean())
        average_valence.append(day_df[day_df.variable=='circumplex.valence'].value.mean())
        average_activity.append(day_df[day_df.variable=='activity'].value.mean())
        screen_sum.append(day_df[day_df.variable=='screen'].value.sum())
        call_sum.append(day_df[day_df.variable=='call'].value.sum())
        sms_sum.append(day_df[day_df.variable=='sms'].value.sum())
        builtin_sum.append(day_df[day_df.variable=='appCat.builtin'].value.sum())
        comm_sum.append(day_df[day_df.variable=='appCat.communication'].value.sum())
        ent_sum.append(day_df[day_df.variable=='appCat.entertainment'].value.sum())
        fin_sum.append(day_df[day_df.variable=='appCat.finance'].value.sum())
        game_sum.append(day_df[day_df.variable=='appCat.game'].value.sum())
        off_sum.append(day_df[day_df.variable=='appCat.office'].value.sum())
        oth_sum.append(day_df[day_df.variable=='appCat.other'].value.sum())
        soc_sum.append(day_df[day_df.variable=='appCat.social'].value.sum())
        tra_sum.append(day_df[day_df.variable=='appCat.travel'].value.sum())
        unk_sum.append(day_df[day_df.variable=='appCat.unknown'].value.sum())
        uti_sum.append(day_df[day_df.variable=='appCat.utilities'].value.sum())
        wea_sum.append(day_df[day_df.variable=='appCat.weather'].value.sum())
        
    days_dict[users[i]] = mood_days
    avg_moods_dict[users[i]] = average_moods
    arousal_dict[users[i]] = average_arousal
    valence_dict[users[i]] = average_valence
    activity_dict[users[i]] = average_activity
    screen_dict[users[i]] = screen_sum
    call_dict[users[i]] = call_sum
    sms_dict[users[i]] = sms_sum
    builtin_dict[users[i]] = builtin_sum
    communication_dict[users[i]] = comm_sum
    entertainment_dict[users[i]] = ent_sum
    finance_dict[users[i]] = fin_sum
    game_dict[users[i]] = game_sum
    office_dict[users[i]] = off_sum
    other_dict[users[i]] = oth_sum
    social_dict[users[i]] = soc_sum
    travel_dict[users[i]] = tra_sum
    unknown_dict[users[i]] = unk_sum
    utilities_dict[users[i]] = uti_sum
    weather_dict[users[i]] = wea_sum

In [3]:
# @cornelis
del df

In [4]:
import matplotlib.pyplot as plt

users = list(days_dict)
plt.plot(range(len(days_dict[users[0]])), office_dict[users[0]])
plt.show()

In [37]:
# create csv files for each user (average mood, arousal, valence, activity and sum of other variables)
# located under '/data_mounir'

users = list(days_dict)
dicts = [avg_moods_dict, arousal_dict, valence_dict, activity_dict, screen_dict, \
         call_dict, sms_dict, builtin_dict, communication_dict, entertainment_dict, finance_dict, \
         game_dict, office_dict, other_dict, social_dict, travel_dict, unknown_dict, utilities_dict, weather_dict] 

for user in users:
    userframe = pd.DataFrame(index=days_dict[user] , columns=['mood', 'arousal', 'valence', 'activity', \
                                                                  'screen', 'calls', 'sms', 'builtin', 
                                                                  'communication', 'entertainment', 'finance', \
                                                                  'game', 'office', 'other', 'social', \
                                                                  'travel', 'unknown', 'utilities', 'weather'])
        
    for i in range(len(userframe.columns)):
        col = userframe.columns[i]
        userframe[col] = dicts[i][user] 
    
    userframe.to_csv('data_mounir/' + user + '.csv')

# Transform data_mounir matrices to contiguous dates with complete data for mood, arousal, valence and activity

New matrices located under data_complete

In [65]:
import os
import pandas as pd
import datetime
import numpy as np
import math

user_matrices = os.listdir('data_mounir')

for usermatrix in user_matrices:
    userdf = pd.read_csv(os.path.join('data_mounir', usermatrix), index_col=0)

    # one loop for checking consecutive days
    days = list(userdf.index)
    dates = []
    for day in days:
        day_ints = [int(x) for x in day.split('-')]
        dates.append(datetime.date(day_ints[0], day_ints[1], day_ints[2]))

    # check that the days in a time window are consecutive    
    length = len(dates) - 1

    consecutive_dates = []
    sequence = []

    for i in range(len(dates)):
        # make sure to not exceed the size of the days list when indexing
        if i + 1 <= length: 
            if (dates[i+1] - dates[i]).days == 1:
                sequence.append(days[i])
            else:
                sequence.append(days[i])
                consecutive_dates.append(sequence)
                sequence = []
                pass
        else:
            sequence.append(days[i])
            consecutive_dates.append(sequence)
            pass    

    longest_sequence = consecutive_dates[np.argmax([len(x) for x in consecutive_dates])]
    userdf = userdf.loc[longest_sequence]
    
    # one loop for checking consecutive activities
    days = list(userdf.index)
    dates = []
    for day in days:
        day_ints = [int(x) for x in day.split('-')]
        dates.append(datetime.date(day_ints[0], day_ints[1], day_ints[2]))

    # check that the days in a time window are consecutive    
    length = len(dates) - 1
    consecutive_dates = []
    sequence = []

    for i in range(len(dates)):
        # make sure to not exceed the size of the days list when indexing
        if i + 1 <= length: 
            if (not math.isnan(userdf['activity'][i+1])) and (not math.isnan(userdf['activity'][i])):
                sequence.append(days[i])
            else:
                sequence.append(days[i])
                consecutive_dates.append(sequence)
                sequence = []
                pass
        else:
            sequence.append(days[i])
            consecutive_dates.append(sequence)
            pass    

    longest_sequence = consecutive_dates[np.argmax([len(x) for x in consecutive_dates])]
    userdf = userdf.loc[longest_sequence]

    # one loop for checking consecutive valences
    days = list(userdf.index)
    dates = []
    for day in days:
        day_ints = [int(x) for x in day.split('-')]
        dates.append(datetime.date(day_ints[0], day_ints[1], day_ints[2]))

    # check that the days in a time window are consecutive    
    length = len(dates) - 1
    consecutive_dates = []
    sequence = []

    for i in range(len(dates)):
        # make sure to not exceed the size of the days list when indexing
        if i + 1 <= length: 
            if (not math.isnan(userdf['valence'][i+1])) and (not math.isnan(userdf['valence'][i])):
                sequence.append(days[i])
            else:
                sequence.append(days[i])
                consecutive_dates.append(sequence)
                sequence = []
                pass
        else:
            sequence.append(days[i])
            consecutive_dates.append(sequence)
            pass    

    longest_sequence = consecutive_dates[np.argmax([len(x) for x in consecutive_dates])]
    userdf = userdf.loc[longest_sequence]
    
    # one loop for checking consecutive arousals
    days = list(userdf.index)
    dates = []
    for day in days:
        day_ints = [int(x) for x in day.split('-')]
        dates.append(datetime.date(day_ints[0], day_ints[1], day_ints[2]))

    # check that the days in a time window are consecutive    
    length = len(dates) - 1
    consecutive_dates = []
    sequence = []

    for i in range(len(dates)):
        # make sure to not exceed the size of the days list when indexing
        if i + 1 <= length: 
            if (not math.isnan(userdf['arousal'][i+1])) and (not math.isnan(userdf['arousal'][i])):
                sequence.append(days[i])
            else:
                sequence.append(days[i])
                consecutive_dates.append(sequence)
                sequence = []
                pass
        else:
            sequence.append(days[i])
            consecutive_dates.append(sequence)
            pass    

    longest_sequence = consecutive_dates[np.argmax([len(x) for x in consecutive_dates])]
    userdf = userdf.loc[longest_sequence]
    userdf.to_csv('data_complete/' + usermatrix)

# Create instance based dataset
Generate time window based dataset (for now only mood, arousal, valence and activity are used)

In [68]:
import os
import pandas as pd
import datetime
import numpy as np

user_matrices = os.listdir('data_complete')

# define a time window
window = 5

for usermatrix in user_matrices:
    # initialize final dataframe
    dataset_df = pd.DataFrame(columns=['user', 'window', 'mood', 'arousal', \
                                       'valence', 'activity', 'predicted_mood'])

    userdf = pd.read_csv(os.path.join('data_complete', usermatrix), index_col=0)
    days = list(userdf.index)

    # convert days to datetime objects
    dates = []
    for day in days:
        day_ints = [int(x) for x in day.split('-')]
        dates.append(datetime.date(day_ints[0], day_ints[1], day_ints[2]))

    # check that the days in a time window are consecutive    
    length = len(dates) - 1
    for i in range(len(dates)):
        # make sure to not exceed the size of the days list when indexing
        if i + window <= length: 
            if (dates[i+window] - dates[i]).days == window:
                # reset average values
                avg_activity, avg_mood, avg_arousal, avg_valence = [np.NaN] * 4

                # check if there's missing values in window and if complete average
                if not any(list(pd.isnull(userdf[i:i+window]['mood']))):
                    avg_mood = userdf[i:i+window]['mood'].mean()    

                if not any(list(pd.isnull(userdf[i:i+window]['arousal']))):
                    avg_arousal = userdf[i:i+window]['arousal'].mean()    

                if not any(list(pd.isnull(userdf[i:i+window]['valence']))):
                    avg_valence = userdf[i:i+window]['valence'].mean()    

                if not any(list(pd.isnull(userdf[i:i+window]['activity']))):
                    avg_activity = userdf[i:i+window]['activity'].mean()    

                row = pd.Series([avg_mood, avg_arousal, avg_valence, avg_activity])

                if not any(list(pd.isnull(row))):
                    dataset_df = dataset_df.append({'user': usermatrix[:-4], 'window': '{}-{}'.format(days[i], \
                                                   days[i+window-1]), 'mood': avg_mood, 'arousal': avg_arousal, \
                                                  'valence': avg_valence, 'activity': avg_activity, \
                                                  'predicted_mood': userdf.loc[days[i+window]]['mood']}, ignore_index=True)
            else:
                #print "bad: {} {}\n".format(dates[i], dates[i+window])
                pass
        else:
            # end of data
            pass    
    dataset_df.to_csv('interval_datasets/' + usermatrix[:-4] + "_" + str(window) + '.csv')

In [19]:
dataset_df.to_csv('interval_datasets/' + str(5) + '.csv')
dataset_df

,user,window,mood,arousal,valence,activity,predicted_mood
0,AS14.01,2014-03-21-2014-03-25,6.430000,0.460000,0.400000,0.138201,6.600000
1,AS14.01,2014-03-22-2014-03-26,6.510000,0.380000,0.480000,0.131653,7.000000
2,AS14.01,2014-03-23-2014-03-27,6.630000,0.300000,0.540000,0.116179,6.400000
3,AS14.01,2014-03-24-2014-03-28,6.550000,0.140000,0.500000,0.106770,8.000000
4,AS14.01,2014-03-25-2014-03-29,6.950000,0.020000,0.700000,0.104619,7.500000
5,AS14.01,2014-03-26-2014-03-30,7.100000,-0.180000,0.750000,0.094763,7.400000
6,AS14.01,2014-03-27-2014-03-31,7.260000,-0.140000,0.750000,0.088602,6.000000
7,AS14.01,2014-03-28-2014-04-01,7.060000,-0.140000,0.590000,0.080389,6.500000
8,AS14.01,2014-03-29-2014-04-02,7.080000,0.046667,0.603333,0.081632,6.400000
9,AS14.01,2014-03-30-2014-04-03,6.760000,-0.233333,0.403333,0.077839,6.200000
10,AS14.01,2014-03-31-2014-04-04,6.500000,-0.093333,0.333333,0.093359,6.800000
11,AS14.01,2014-04-01-2014-04-05,6.380000,-0.173333,0.333333,0.103058,6.500000
12,AS14.01,2014-04-02-2014-04-06,6.480000,-0.363333,0.433333,0.092251,6.500000
13,AS14.01,2014-04-03-2014-04-07,6.480000,-0.563333,0.350000,0.082002,6.600000
14,AS14.01,2014-04-04-2014-04-08,6.520000,-0.403333,0.416667,0.087219,7.400000
15,AS14.01,2014-04-05-2014-04-09,6.760000,-0.603333,0.536667,0.085958,7.400000
16,AS14.01,2014-04-06-2014-04-10,6.880000,-0.603333,0.576667,0.077951,7.000000
17,AS14.01,2014-04-07-2014-04-11,6.980000,-0.693333,0.636667,0.081066,7.250000
18,AS14.01,2014-04-08-2014-04-12,7.130000,-0.710000,0.736667,0.085382,8.000000
19,AS14.01,2014-04-09-2014-04-13,7.410000,-0.880000,0.870000,0.073121,7.200000
20,AS14.01,2014-04-10-2014-04-14,7.370000,-0.960000,0.790000,0.065821,6.400000
21,AS14.01,2014-04-11-2014-04-15,7.170000,-0.880000,0.790000,0.068051,7.200000
22,AS14.01,2014-04-12-2014-04-16,7.210000,-0.490000,0.730000,0.075276,6.600000
23,AS14.01,2014-04-13-2014-04-17,7.080000,-0.420000,0.700000,0.072210,6.800000
24,AS14.01,2014-04-14-2014-04-18,6.840000,-0.330000,0.660000,0.088212,7.800000
25,AS14.01,2014-04-15-2014-04-19,6.960000,-0.130000,0.740000,0.091321,7.250000
26,AS14.01,2014-04-16-2014-04-20,7.130000,-0.180000,0.730000,0.088262,7.600000
27,AS14.01,2014-04-17-2014-04-21,7.210000,-0.380000,0.830000,0.085448,7.400000
28,AS14.01,2014-04-18-2014-04-22,7.370000,-0.260000,0.910000,0.092450,7.600000
29,AS14.01,2014-04-19-2014-04-23,7.530000,-0.060000,0.950000,0.082841,7.600000
...,...,...,...,...,...,...,...
904,AS14.33,2014-04-17-2014-04-21,7.373333,-0.280000,1.000000,0.087710,6.200000
905,AS14.33,2014-04-18-2014-04-22,7.173333,-0.280000,0.680000,0.090375,5.200000
906,AS14.33,2014-04-19-2014-04-23,6.733333,-0.160000,0.400000,0.084547,7.000000
907,AS14.33,2014-04-20-2014-04-24,6.600000,-0.210000,0.400000,0.059541,8.400000
908,AS14.33,2014-04-21-2014-04-25,6.800000,-0.050000,0.360000,0.082679,7.600000
909,AS14.33,2014-04-22-2014-04-26,6.880000,0.030000,0.440000,0.142644,6.200000
910,AS14.33,2014-04-23-2014-04-27,6.880000,-0.090000,0.560000,0.136476,6.750000
911,AS14.33,2014-04-24-2014-04-28,7.190000,-0.300000,0.830000,0.151497,6.200000
912,AS14.33,2014-04-25-2014-04-29,7.030000,-0.330000,0.710000,0.140591,6.400000
913,AS14.33,2014-04-26-2014-04-30,6.630000,-0.690000,0.560000,0.113956,7.000000
914,AS14.33,2014-05-07-2014-05-11,6.000000,-0.250000,0.220000,0.040231,6.000000
915,AS14.33,2014-05-08-2014-05-12,6.200000,-0.350000,0.420000,0.044683,5.000000
916,AS14.33,2014-05-09-2014-05-13,5.880000,-0.090000,0.340000,0.057113,6.833333
917,AS14.33,2014-05-10-2014-05-14,6.286667,-0.196667,0.460000,0.054820,6.000000
918,AS14.33,2014-05-11-2014-05-15,5.966667,-0.116667,0.360000,0.060332,7.000000
919,AS14.33,2014-05-12-2014-05-16,6.166667,-0.036667,0.480000,0.068456,6.000000
920,AS14.33,2014-05-13-2014-05-17,6.166667,0.163333,0.446667,0.066987,6.000000
921,AS14.33,2014-05-14-2014-05-18,6.366667,-0.056667,0.486667,0.042541,6.200000
922,AS14.33,2014-05-15-2014-05-19,6.240000,-0.030000,0.446667,0.043573,6.250000
923,AS14.33,2014-05-16-2014-05-20,6.290000,-0.130000,0.446667,0.022743,6.000000
924,AS14.33,2014-05-17-2014-05-21,6.090000,-0.343333,0.206667,0.015823,5.750000
925,AS14.33,2014-05-18-2014-05-22,6.040000,-0.293333,0.190000,0.014796,5.833333
926,AS14.33,2014-05-19-2014-05-23,6.006667,-0.340000,0.150000,0.015367,6.400000
927,AS14.33,2014-05-20-2014-05-24,6.046667,-0.450000,0.160000,0.016395,6.250000
928,AS14.33,2014-05-21-2014-05-25,6.046667,-0.500000,0.126667,0.045012,5.400000
929,AS14.33,2014-05-22-2014-05-26,5.926667,-0.446667,0.166667,0.064616,6.200000
930,AS14.33,2014-05-23-2014-05-27,6.016667,-0.666667,0.196667,0.064850,8.200000
931,AS14.33,2014-05-24-2014-05-28,6.490000,-0.500000,0.436667,0.081393,7.000000
932,AS14.33,2014-05-25-2014-05-29,6.610000,-0.616667,0.586667,0.112406,6.800000
933,AS14.33,2014-05-26-2014-05-30,6.720000,-0.626667,0.440000,0.118693,7.000000